<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <div class="Contenedor">
        <header>
            <nav>
                <ul>
                   <li><a href="#">Inicio</a></li>
                   <li><a href="#">Acerca de</a></li>
                   <li><a href="#">Productos</a></li>
                   <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
         <section class="main">
            <div class="imagen">
                <img src="imagenes/503081.jpg" width="500">
            </div>
             <section class="posts">
                 <article>
                     <h2>Titulo el Articulo</h2>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     In quod possimus libero dolore hic fugit, porro est accusamus rerum!
                     Et deserunt eos recusandae cum unde fugiat pariatur at alias harum.</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     In quod possimus libero dolore hic fugit, porro est accusamus rerum!
                     Et deserunt eos recusandae cum unde fugiat pariatur at alias harum.</p>
                 </article>
             </section>
         </section>
         <aside>
             <div class="widget">
                 <h3 class="Titulo">Articulos Destacados</h3>
                 <ul>
                     <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                     <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                     <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                     <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                 </ul>
             </div>
             <div class="wiget">
                 <h3 class="Titulo">Informacion</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fuga facilis recusandae explicabo culpa accusantium iure veritatis reiciendis doloremque voluptates incidunt ad, magni placeat. Deleniti doloribus aut iure non quas.</p>
             </div>
         </aside>
         <footer>
             <p>Luis Angel Santos - Todos los Derechos Reservados</p>
         </footer>
    </div>
</body>
</html>